# PostgreSQL
DATABASE_URL=postgresql://orders:orders@localhost:5432/orders_db?schema=public

# Redis
REDIS_URL=redis://localhost:6379

# Servidor
PORT=3000

# Integração - API de câmbio
EXCHANGE_API_URL=https://api.exchangerate-api.com/v4/latest
TARGET_CURRENCIES=BRL,EUR

# Autenticação Webhook
WEBHOOK_SECRET=meu-token-secreto
